In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r"C:\Users\ZBOOK\Downloads\nobel.csv")
data.head(5)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [ ]:
## QUESTION 1 : What is the most commonly awarded gender and birth country? Storing the string answers as top_gender and top_country

In [3]:
top_gender = data.sex.value_counts().index[0]
top_gender

'Male'

In [4]:
data.birth_country.value_counts().index[0]

'United States of America'

In [ ]:
## QUESTION 2 : What decade had the highest proportion of US-born winners? Store this as an integer called max_decade_usa.

In [31]:
data["us_born_winners"] = data["birth_country"] == "United States of America"

In [27]:
data["decade"] = (data["year"] // 10) * 10

In [39]:
prop = data.groupby("decade")["us_born_winners"].mean()
prop.sort_values(ascending = False).head(1)

decade
2000    0.422764
Name: us_born_winners, dtype: float64

In [ ]:
## question 2 : What decade and category pair had the highest proportion of female laureates?

In [42]:
data["female_winner"] = data["sex"] == "Female"

In [46]:
prop2 = data.groupby(["decade","category"])["female_winner"].mean()

In [48]:
prop2.sort_values(ascending = False).head(1)

decade  category
2020    Literature    0.5
Name: female_winner, dtype: float64

In [49]:
## QUESTION 3 : Who was the first woman to receive a Nobel Prize, and in what category? 
## Save your string answers as first_woman_name and first_woman_category

In [67]:
first_woman_name = data[data["sex"] == "Female"].head(1)["full_name"]
first_woman_category = data[data["sex"] == "Female"].head(1)["category"]

In [68]:
first_woman_name

19    Marie Curie, née Sklodowska
Name: full_name, dtype: object

In [69]:
first_woman_category

19    Physics
Name: category, dtype: object

In [70]:
## QUESTION 4 = Which individuals or organizations have won multiple Nobel Prizes throughout the years?

In [72]:
data.laureate_id.nunique()

992

In [88]:
repeat_list = data[data.duplicated("laureate_id", keep=False)]
repeat_list.index

Index([19, 62, 89, 215, 278, 283, 298, 306, 340, 348, 424, 505, 523, 721, 975], dtype='int64')